.footer-list{
  margin: 0px;
  padding: 0px;
  background-color: #555;
}
.footer-list .start-border{
  padding: 20px 0px;
  border-bottom: 1px solid #EEE;
  color: #fff;
  font-weight: bold;
}
.footer-list .start-border a{
  color:#fff;
}
.colmin {
  width: 20%;
}
.colmin-max{
   flex-grow: 1;
}
.colmin-max .colmax-select{
  margin-right: 15px;
}
.colmin ul{
  list-style-type: none;
}
.colmin ul li{
  padding: 10px 0px;
  font-weight: bold;
}
.colmin ul li:first-child{
  color: #fff;
}
.colmin ul li select{
  width: 100%;
  border: 1px solid #FFF;
 background-color: #000;
 padding: 10px;
 color: #fff;
}
.colmin ul li a{
  text-decoration: none;
  color: #AAA;
}
.footer-last{
  margin: 0px;
  padding: 0px;
  background-color: #2f363f;
  color: #FFF;
}
.footer-last .description{
  padding: 10px 0px;
}
.footer-detail{
  display: flex;
}