.list-option{
  text-align: center;
   border-bottom: 1px solid rgba(46,62,72,.12);
}
.list-option ul{
  display: inline-flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
 
}
.list-option ul li{
  margin: 0 5px;
}
.list-option ul a{
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #DDD;
  border-radius: 8px;
  color: #000;
  font-size: 12px;
}